* {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    background-color: white;
}

.content {
    width: 100%;
}

    .content img {
        width: 100%;
        height: auto;
    }


#slider {
    width: 85%;
    height: 40px;
    background-color: aliceblue;
    position: relative;
}

#sliderBlock {
    position: absolute;
    left: 5px;
    height: 30px;
    width: 45px;
    top: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px lightgray;
}