* {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    background-color: white;
}

.img_check {
    width: 100px;
    height: 100px;
}

#div_icon1 {
    bottom: 30px;
    left: 70px;
}

#div_icon2 {
    bottom: 56px;
    left: 168px;
}

#div_icon3 {
    bottom: 30px;
    left: 70px;
}

#div_icon4 {
    bottom: 56px;
    left: 168px;
}

.divIconClass {
    position: relative;
    width: 25px;
    height: 25px;
}

.imgIconClass {
    width: 1px;
    height: 1px;
    left: 70px;
}
